<div class = "create-album text-white flex justify-center">
    <%= form_with model: Track.new, local: true, html: { multipart: true, class: "mt-5 mb-5 pt-3 pb-3 pr-5 pl-5 rounded-2xl gap-7 flex flex-row items-center justify-center bg-neutral-800 flex-wrap" } do |f| %>
    <div class = "flex flex-col">
        <%= f.label :name, "Название трека *", class: "" %>
        <%= f.text_field :name, class: "bg-neutral-700 rounded-2xl pl-1 pr-1 pt-1 pb-1", required: true %>
    </div>

    <div class = "flex flex-col">
        <%= f.label :audio_file, "Аудиофайл *", class: "" %>
        <%= f.file_field :audio_file, class: "bg-neutral-700 rounded-2xl pl-1 pr-1 pt-1 pb-1 file:bg-neutral-400 file:rounded-2xl file:pl-2 file:pr-2", accept: "audio/*", required: true %>
    </div>

    <%= f.hidden_field :album_id, value: @album.id %>

    <div class = "flex flex-col bg-green-500 mt-6 rounded-2xl hover:cursor-pointer hover:bg-green-400 transition-colors delay-75">
        <%= f.submit "+ Добавить трек", class: "pl-1 pr-1 pt-1 pb-1" %>
    </div>
    <% end %>
</div>