<% track_audio_url = track.audio_file.attached? ? url_for(track.audio_file) : '' %>
<% track_image_url = track.album.cover_image.attached? ? url_for(track.album.cover_image) : asset_path('default-music.svg') %>
<% liked = current_user.liked_track?(track) %>

<div data-controller="track-card"
     data-track-card-id-value="<%= track.id %>"
     data-track-card-artist-value="<%= track.user.username %>"
     data-track-card-name-value="<%= track.name %>"
     data-track-card-url-value="<%= track_audio_url %>"
     data-track-card-image-value="<%= track_image_url %>"
     data-track-card-liked-value="<%= liked %>"
     data-track-card-like-url-value="<%= like_track_path(track) %>"
     data-track-card-unlike-url-value="<%= unlike_track_path(track) %>"
     class="track-card text-white bg-neutral-800 h-13 ml-10 mr-10 pl-2 pr-5 rounded-2xl flex items-center flex-row flex-shrink-0">
  <button type="button" data-action="click->track-card#playTrack" class="hover:cursor-pointer">
    <%= image_tag "play.svg", class: "w-7 h-7" %>
  </button>
  <div class="track-info flex flex-col truncate w-full ml-2 mr-2">
    <div class="track-name text-white"><%= track.name %></div>
    <div class="track-artist text-neutral-400 hover:text-gray-400"><%= link_to track.user.username, profile_path(track.user.id) %></div>
  </div>

  <% if local_assigns.fetch(:show_like, true) %>
    <div class="like-button w-8 h-8 mr-2 flex items-center justify-center">
      <%= render 'shared/track_like_button', track: track %>
    </div>
  <% end %>

  <% if local_assigns[:show_actions] || @show_actions %>
    <div class="delete-button w-7 h-7 mr-2">
      <%= button_to track_path(track),
                    method: :delete,
                    class: "hover:cursor-pointer",
                    data: { turbo_confirm: "Вы уверены, что хотите удалить трек '#{track.name}'?" } do %>
        <%= image_tag "delete.svg" %>
      <% end %>
    </div>
  <% end %>
</div>
