<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Music Streaming" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Music Streaming">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "scrollbar", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="flex bg-neutral-900 flex-col">
  <% if notice %>
    <p data-controller="notification" data-notification-delay-value="3000" class="notice text-white bg-neutral-800 w-100 h-13 rounded-md
      pl-6 pt-3 mt-3 ml-3 border-2 border-yellow-200 border-solid absolute z-50"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p data-controller="notification" data-notification-delay-value="3000" class="alert text-white bg-neutral-800 w-100 h-13 rounded-md
      pl-6 pt-3 mt-3 ml-3 border-2 border-red-400 border-solid absolute z-50"><%= alert %></p>
  <% end %>
  <% if controller_name == 'passwords' || controller_name == 'registrations' || controller_name == 'sessions' %>
    <div class = "mt-25 flex flex-col bg-neutral-800 h-min py-10 w-110 mx-auto items-center justify-center rounded-[20]">
      <%= yield %>
    </div>
  <% else %>
      <%= yield %>
  <% end %>
  <% if controller_name == "pages" || controller_name == "profile" %>
    <%= render "shared/player"%>
  <% end %>
  </body>
</html>
